frontend/node_modules
backend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage
# production
frontend/build
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
